
.hero__container {
    background-repeat: no-repeat;
    width: 1326px;
    height: 560px;

}
.hero__one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero1.jpg);
}

.hero__two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/hero2.jpg);
}

.hero__three {
    background-image: linear-gradient(rgba(12, 245, 206, 0.582), rgba(173, 1, 173, 0.171)), url(../images/hero2.jpg);
}

.testimonials {
    max-width: 1326px;
    margin: auto;
    position: relative;
}

.scroller {
    overflow-x: hidden;
    display: flex;
  }

.hero__line {
    padding-bottom: 105px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.hero__head {
    margin: 0;
    display: block;
    padding-top: 64px;
    padding-left: 93px;
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    color: #FFFFFF;
}

.hero__about {
    padding-left: 93px;
    margin: 0;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    color: #FFFFFF;
}
.testimonials .btn {
    position: absolute;
    top: 40%;
    height: 60px;
    width: 50px;
}

.next {
    right: 35px;
    background-repeat: no-repeat;
    background-image: url(../images/right.png);
}

.prev {
    left: 55px;
    background-repeat: no-repeat;
    background-image: url(../images/left.png);
}
.btn:hover {
    
    cursor: pointer;
}

