* {
    text-decoration: none;
    list-style: none;
}

section {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.container {
    background: #f9f7f3;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
}

.header {
    background: #f9f7f3;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 5px;
    display: block;
}

.header__navigation-list {
    display: flex;
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.header__navigation-item {
    width: 200px;
    padding: 22px 0;
    border-right: 1px solid black;
    text-align: center;
}

.header__navigation-item:first-child {
    border-left: 1px solid black;
}

.header__navigation-item--link {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #000000;
}

.services {
    display: flex;
    background: #f9f7f3;
    justify-content: space-between;
}

.services__name {
    margin-left: 40px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 15px;
}

.services__list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.services__item {
    padding-right: 44px;
    padding-left: 44px;
    padding-top: 11px;
    padding-bottom: 15px;
}

.services__item:last-child {
    padding-right: 0;
}

.services__item--link {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #000000;
}

.hero {
    display: flex;
    border-bottom: 1px solid black;
}

.hero__first {
    width: 424px;
    padding-top: 92px;
}

.hero__first-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    /* or 100% */
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 31px;
}

.hero__first-about {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* or 140% */
    letter-spacing: 0.82px;
    color: #000000;
}

.hero__buttons {
    padding-left: 0;
}

.hero__button {
    padding-top: 11px;
    padding-bottom: 13px;
    border: 1px solid black;
    width: 262px;
    text-align: center;
    background: #ffffff;
    margin-bottom: 12px;
}

.hero__button-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    letter-spacing: 0.48px;
    color: #9f4a19;
}

.hero__button-about {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-left: 63px;
    /* identical to box height, or 129% */
    letter-spacing: 0.48px;
    color: #808080;
}

.demand {
    padding-bottom: 96px;
    padding-top: 96px;
    background: #f9f7f3;
}

.demand__name {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 21px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    margin: 0;
    /* identical to box height, or 136% */
    text-align: center;
    color: #000000;
}

.demand__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.find__name {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    /* identical to box height, or 136% */
    margin: 0;
    text-align: center;
    color: #000000;
}



.find__name-about {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    margin: 0;
    text-align: center;
    padding-bottom: 22px;
    color: #000000;
}

.find__format {
    display: flex;
}

.find__img {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 37px;
}

.find__table {
    padding-left: 0;
    margin-top: 80px;
    margin-left: 108px;
}

.find__table-next {
    margin-top: 80px;
    margin-left: 89px;
}

.find__table-item {
    display: flex;
    align-items: baseline;
}

.find__table-item-check {
    Width: 29.27px;
    Height: 19.65px;

}

.find__table-item-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    margin: 0 0 46px 25.6px;
    /* identical to box height, or 100% */
    color: #000000;
}

.breef__name {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 7px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    /* identical to box height, or 136% */
    margin: 0;
    text-align: center;
    color: #000000;
}

.breef__name-about {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    margin: 0;
    text-align: center;
    padding-bottom: 22px;
    color: #000000;
}
.breef__table{

}

.breef__table-item{

}